h1 {
    font-family: 'SquareAntiquaBookOblique';
    font-weight: normal;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding-right: 25px;
    background-color: #749A25;
}

.shelf {
    display: flex;
    flex: 0 0 75%;
    flex-direction: column;
    background-image: url("./images/garden.jpg");
    height: 100%;
    width: 100%;
}

#addBookBtn {
    margin: 0 15px;
    width: 85px;
    height: 40px;
}

#newBookModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(189, 189, 189);
}

#newBookForm {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}