h1 {
    font-family: 'SquareAntiquaBookOblique';
    font-weight: normal;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'SquareAntiquaBookOblique';
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding-right: 25px;
    background-color: #749A25;
}

.shelf {
    display: flex;
    flex: 0 0 75%;
    flex-direction: column;
    background-image: url("./images/garden.jpg");
    height: 100%;
    width: 100%;
}

#addBookBtn {
    margin: 0 15px;
    width: 85px;
    height: 40px;
}

#newBookModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    padding: 15px 5px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    overflow: auto;
    background-color: rgb(189, 189, 189);
    max-width: 90%;
    max-height: 80%;
    min-width: 300px;
}

#newBookForm {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#newBookForm input {
    display: block;
    width: 100%;
    margin: 10px 0px;
}
.close {
    color: #aaaaaa;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: rgb(255, 145, 0) 5px solid;
    border-radius: 25px;
    background-color: #9dcd37;
    padding: 15px;
    height: 15%;
    width: 25%;
    margin: 15px;
}